@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
/* quitar autoincrementar en inputs tipo number */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body, #modal-registro, #modal-registro-iniciar, #modal-olvido{
    width: 100%;
    height: 100vh;
}
.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
/* header */
.header-contenedor{
    position: relative;
    width: 100%;
    height: 100vh;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 60px;
    z-index: 1000;
    transition: background-color, .2s ease-in-out;
}
.logo{
    cursor: pointer;
    border:solid 2px #fff;
    padding: 5px 15px;
}
.icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.container-icons{
    display: flex;
    flex:1;
    justify-content: space-between;
}
.nav ul{
    flex: 7;
    text-align: right;
    padding-right: 30px;
}
.nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
.nav ul li a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6ab04c;
    transition: width 0.3s;
}
.nav ul li a:hover::after{
    width: 50%;
}
.fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    z-index: -1;
    background-image: linear-gradient(to right bottom, #606164, #5a5e5f, #565a59, #535554, #51514f);    
}
.container-text{
    text-align: center;
    position: absolute;
    width: 58%;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    opacity:0%;
    animation: visibilidad 3s .5s;
    animation-fill-mode: forwards;
}
@keyframes visibilidad {
    to{
        opacity:100%;
    }
}

.container-text span{
    text-transform: uppercase;
    display: block;
}
.text1{
    pointer-events:none;
    font-size: 80px;
    font-weight: 700 italic;
    letter-spacing: 8px;
    margin-bottom: 20px;
    animation: text 2s .5s;
}
.text2{
    font-size: 40px;
    color: #6ab04c;
    font-weight: 600;
    opacity: 0;
    animation: visibilidad 2s 2s;
    animation-fill-mode: forwards;
    margin-bottom: 35px;
}
@keyframes text {
    from{
        margin-bottom: -60px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -60px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -60px;
    }
}
@keyframes visibilidadText {
    to{
        opacity:100%;
    }
}
.boton{
    background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
    display: inline-block;
    padding: 10px 10px;
    border-radius: .25rem;
    min-width: 150px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    opacity: 0;
    animation: pulsos 1.5s infinite, visibilidadBoton 2s 2s;
    animation-fill-mode: forwards;
}
.boton:hover{
    background: #fff;
    color: black;
    transition: background-color .3s, color .3s;
}
@keyframes visibilidadBoton {
    to{
        opacity:100%;
    }
}
@keyframes pulsos {
    from{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(256, 256, 256, 0);
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}


/* MODAL USERS */

.modal_container{
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content{
    width: 300px;
    height: 380px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    position: relative;
    transform: translateY(0);
    transition: transform .8s;
    overflow: hidden;
}
.transparencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.5s;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 18px;
}
.modal_content:hover .transparencia{
    opacity:1;
}
.modal_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.modal_img img{
    width: 100%;
    height: calc(100% + 4px);
    object-fit: cover;
}
.modal_close{
    transform: translateY(-200%);
}
.modal_texts{
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
.modal_texts span{
    font-weight: 300;
    font-size: 15px;
}
.modal_button{
    border:none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #616161;
    cursor: pointer;
    animation: pulsos 1.5s infinite;
}
.modal_mover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transform: translateY(27px);
    transition: 0.5s;
}
.modal_content:hover .modal_mover{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}
.button_container_modal{
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s;
}
.modal_content:hover .button_container_modal{
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}
.button_container_modal{
    transform: translateY(40px);
    
}
.modal_button:hover{
    transform: scale(1.05);

}
.close{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
}
.equis{
    font-size: 20px;
}


/* about-us */
#registro{
    background-color: black;
}
.about-us{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171819;
    padding:80px 150px 0;
}
.uno{
    width: 40%;
    margin-right:50px;
}
.dos{
    border-left: 1px solid #666262;
    width: 40%;
    padding:0 0 1rem 4rem;
}
.uno h1{
    font-size: 3.5rem;
    margin-bottom: 1.1rem;
}
.uno h3{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.1rem;
}
.uno p{
    color: #B4B4B4;
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 2rem;
    text-align: justify;
}
.uno p span{
    color: #B4B4B4;
}
.uno .boton{
    opacity: 100;
    animation: pulsos 1.5s infinite;
    color: #fff;
    background: #6ab04c;
}
.uno .boton:hover{
    background: #F24B4B;
    transition: background-color .3s;
}
.dos h3{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.dos div p{
    font-weight: 400;
    margin: .5rem 0;
}
.horarios{
    color: #B4B4B4;
}

/* calcular */

.calculos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 14rem;
    background: #cfcece;
}
.cal{
    width: 45%;
}

.cal #in{
    font-size: 3.5rem;
    margin-bottom: 1.1rem;
    color: #171819;
}
.cal #calcul{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.1rem;
    color: #171819;
}
.calculos .cal label{
    color: #171819;
}
#pesoo{
    position: absolute;
border: 0; 
border-bottom:1px solid rgb(0, 0, 0); 
top: 255%; 
left: 225px;
background: #cfcece; /* fallback for old browsers */
  }
#pesoo,#estaturaa,#res:focus{
    outline:none;
}
#style-label-cal-esta{
    margin-top: 30%;
    margin-left: 30%;   
}
#estaturaa{
    position: absolute;
    border: 0; 
    border-bottom:1px solid rgb(0, 0, 0); 
    top: 255%; 
    left: 430px;
    background: #cfcece; /* fallback for old browsers */
           
}
#res{
    margin-top: 30px;
    background: #cfcece; /* fallback for old browsers */
    width: 353px;     
    border: none;  
    height: 30px;
    resize: none;
    color: #171819;
}

.but{
    background: #6ab04c;
    display: inline-block;
    padding: 10px 10px;
    border-radius: .25rem;   
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5); 
    border: none;
}
.but:hover{
    cursor: pointer;
}
/* metabolismo basal */
.metabo{
    border-left: 1px solid #666262;
    width: 45%;
    padding:1rem 0 1rem 4rem;
}
.metabo label, input, textarea{
    color: #171819;
}
.metabo h1{
    font-size: 2.3rem;
    margin-bottom: 1.1rem;
    color: #171819;
}
.metabo h3{
     font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.1rem;
    color: #171819;
}
#sex{
    position: absolute;
    top: 253%;
    left: 58%;
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
   
}
#style-metabo-peso{
    position: absolute;
    left: 73%;
    top: 249%;
}
#style-metabo-sex{
    position: absolute;
    top: 249%;
}
#pes{
    position: absolute;
    border: 0; 
    border-bottom:1px solid rgb(0, 0, 0); 
    top: 253%; 
    left: 73%;
    background: #cfcece; 
}

  
#style-metabo-esta{
    position: absolute;
    left: 58%;
    top: 258%;
}
#esta{
    position: absolute;
    top: 262%;
    left: 58%;      
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
      
}
#style-metabo-edad{
    position: absolute;
    left: 73%;
    top: 258%;
}
#ed{
    position: absolute;
    top: 262%;
    left: 73%;   
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
   
}
#resmeta{    
    /* background: #B4B3B3; fallback for old browsers */
    position: absolute;
    width: 353px;     
    border: none;  
    height: 30px;
    resize: none;
    color: black;  
    top: 266%;
    background: #cfcece; /* fallback for old browsers */
    border-bottom:1px solid rgb(0, 0, 0);
    border: 0;   
}
  
#style-metabo-esta{
    position: absolute;
    left: 58%;
    top: 258%;
}
#esta{
    position: absolute;
    top: 262%;
    left: 58%;      
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
      
}
#style-metabo-edad{
    position: absolute;
    left: 73%;
    top: 258%;
}
#ed{
    position: absolute;
    top: 262%;
    left: 73%;   
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
   
}
#resmeta{    
    /* background: #B4B3B3; fallback for old browsers */
    position: absolute;
    width: 353px;     
    border: none;  
    height: 30px;
    resize: none;
    color: #171819;  
    top: 266%;
    background: #cfcece; /* fallback for old browsers */
    border-bottom:1px solid rgb(0, 0, 0);
    border: 0;   
}
  
#style-metabo-esta{
    position: absolute;
    left: 58%;
    top: 258%;
}
#esta{
    position: absolute;
    top: 262%;
    left: 58%;      
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
      
}
#style-metabo-edad{
    position: absolute;
    left: 73%;
    top: 258%;
}
#ed{
    position: absolute;
    top: 262%;
    left: 73%;   
    border: 0;
    border-bottom:1px solid rgb(0, 0, 0); 
    background: #cfcece; /* fallback for old browsers */
   
}
#resmeta{    
    /* background: #B4B3B3; fallback for old browsers */
    position: absolute;
    width: 353px;     
    border: none;  
    height: 30px;
    resize: none;
    color: black;  
    top: 266%;
    background: #cfcece; /* fallback for old browsers */
    border-bottom:1px solid rgb(0, 0, 0);
    border: 0;   
}
#metaBasal{
    background: #6ab04c;
    display: inline-block;
    padding: 10px 10px;
    border-radius: .25rem;   
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5); 
    border: none;
}
#metaBasal:hover{
    cursor: pointer;
}
#sex, #pes, #esta, #ed:focus{
    outline:none;
} 

/* Planes section */

.Planes_section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #B4B3B3;
    padding-top: 80px;
    padding-bottom: 20px;
}
.Planes_title{
    color: rgba(0, 0, 0, 0.8);
    align-self: center;
    font-size: 34px;
    margin-bottom: 35px;
    font-weight: 700;
}
.Planes_container{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    max-width: 1200px;
    width: 100%;
}
.card{
    position: relative;
    list-style: none;
    height: 400px;
}

.background_card{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: filter 200ms linear, transform 200ms linear;
    border-radius: 20px;   
}
.card:hover .background_card{
    transform: scale(1.05) translateZ(0);
}
.card_content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
}
.category{
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 0.9rem;
}
.card_heading{
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    line-height: 1.4;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.cards:hover > .card:not(:hover) .background_card{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(5px);
}
/* Modal Planes */
.planes_modal{
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.planes_modal_content{
    border-radius: 1rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transform: translateX(0);
    transition: transform .8s;
    display: flex;
    margin: 1.5rem;
    overflow: hidden;
    width: 30rem;
    height: 20rem;
    min-width: 480px;
}
.close_modal_planes{
    transform:translateY(200%);
}
.left_column{
    min-width: 10rem;
    background-size: cover;
    background-position: center;
    filter: saturate(1.2) contrast(0.85);  
}
.right_columm{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    background:#fff;
}
.right_columm h6, .right_columm h2, .right_columm h4{
    color: #282828;
}
.right_columm h6{
    letter-spacing: .1rem;
    font-size: 0.9rem;
}
.right_columm p{
    font-size: .9rem;
    color: #171819;
}
.right_columm h2{
    letter-spacing: .1rem;
    font-size: 1.6rem;
}
.right_columm h4{
    font-size: 1.2rem;
}
.button_modal_planes{
    border-radius: 3rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    font-size: .9rem;
    padding: .5rem .6rem;
    letter-spacing: .1rem;
    border:none;
    background: #6ab04c;
    cursor: pointer;
    transition: transform 0.5s;
    font-weight: 400;
    text-transform: uppercase;

}   
.button_modal_planes:hover{
    transform: scale(1.04);

}
/* footer */

footer{
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec{
    margin-left: 30px;
}
.sec.aboutus{
    width:40%;
}
footer h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.sec.aboutus p{
    color: #999;
    text-align:justify;
    margin-bottom: 40px;

}
.sci{
    margin-top: 20px;
    display: flex;
}
footer li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #f00;
}
.sci li a .fab{
    color: #fff;
    font-size: 20px;
}

.quickLinks{
    position: relative;
    width: 20%;
}
.quickLinks ul li a{ 
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 400;
}
.quickLinks ul li a:hover{
    color:#fff;
}
footer .contact{
    width: 20%;
    margin-right:0 !important ;
}
.info{
    position: relative;
}
.info li{
    display: flex;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.info li span, .info li a{
    color: #999;
    text-decoration: none;
    font-weight: 400;
}
.info li a:hover{
    color: #fff;
}